{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <div class="alert alert-info" role="alert" style="margin-top: 10px"><p class="text-center">ADDING A NEW CONTACT</p></div>
        {{ form_row(form.contact) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.website) }}
        <button type="submit" class="center-block" style="margin-bottom: 10px">Add contact!</button>
    {{ form_end(form) }}
{% endblock %}
